<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Gracias por tu compra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Carga la librería de Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <!-- Agrega tu archivo CSS personalizado -->
    <style>
      body {
        background-color: #f7f7f7;
      }

      .container {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 50px;
      }

      h1 {
        color: #232f3e;
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 30px;
      }

      p {
        color: #777777;
        font-size: 24px;
        line-height: 1.5;
      }

      /* Estilos para los colores de Amazon */
      .amazon-yellow {
        color: #ff9900;
      }

      .amazon-blue {
        color: #146eb4;
      }

      .amazon-gray {
        color: #dadada;
      }

      /* Estilos para la tipografía */
      @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

      body {
        font-family: "Open Sans", sans-serif;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Open Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="container text-center mt-5">
      <h1>Gracias por tu compra &#128526;</h1>
      <p>Te llegará un correo electrónico con los detalles de tu compra.</p>
      <a href="/home" method="POST" class="btn btn-primary">Ir a la home</a>
    </div>
  </body>
</html>
