<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Ecommerce Website</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to our Ecommerce Website!</h1>
      <p>We offer a wide range of products at great prices.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="product1.jpg" alt="Product 1">
          <div class="caption">
            <h4>Product 1</h4>
            <p>Price: $10.99</p>
            <p><a href="#" class="btn btn-primary">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="product2.jpg" alt="Product 2">
          <div class="caption">
            <h4>Product 2</h4>
            <p>Price: $24.99</p>
            <p><a href="#" class="btn btn-primary">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="../public/assests/1.png" alt="Product 3">
          <div class="caption">
            <h4>Product 3</h4>
            <p>Price: $39.99</p>
            <p><a href="/logout" method="POST" class="btn btn-primary">Learn More</a></p>
          </div>
        </div>
      </div>

      <p><a href="/logout" method="POST" class="btn btn-danger">LOGOUT</a></p>
    </div>
  </div>
</body>
</html>